<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Redefinir senha - {{appName}}</title>
    <!-- Mesmo estilo do template anterior -->
</head>
<body>
    <div class="header">
        <h1>Redefinição de senha</h1>
    </div>
    
    <p>Olá <strong>{{username}}</strong>,</p>
    
    <p>Recebemos uma solicitação para redefinir sua senha no {{appName}}. Clique no botão abaixo para continuar:</p>
    
    <p style="text-align: center;">
        <a href="{{resetUrl}}" class="button">Redefinir Senha</a>
    </p>
    
    <p>Se o botão acima não funcionar, copie e cole o seguinte link no seu navegador:</p>
    
    <p><a href="{{resetUrl}}">{{resetUrl}}</a></p>
    
    <p>Este link expirará em 1 hora.</p>
    
    <p>Se você não solicitou a redefinição de senha, por favor ignore este email.</p>
    
    <div class="footer">
        <p>Atenciosamente,<br>Equipe {{appName}}</p>
    </div>
</body>
</html>